html {
  text-align: center;
}
#home {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
}
h1{
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
a {
  font-family: helvetica;
  font-size: 18px;
  color: white;
}
h2 {
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
}
p {
  font-family: helvetica;
  font-size: 14px;
}
.background_title h3 {
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: auto 1500%;
}
.bas {
  font-family: helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
